# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp

# Package Files
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mac
*.DS_Store
*__MACOSX

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
.classpath
.project
.settings/
.settings/*

# Intellij
.idea
run
out

# The debug script in IDE
!/run/start.sh

# Gradle
.gradle
build
OUT

# Gource
my_captions.txt
source_visual.ppm
source_visual.mp4